{% extends "patient/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link href="{% static 'css/jquery.toast.css' %}" rel="stylesheet">
{% if messages %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'javascript/jquery.toast.js' %}"></script>
  <script>
      $(document).ready(function() {
          {% for message in messages %}
          var myToast = $.toast({
            text: "{{message}}", // Text that is to be shown in the toast
            heading: 'Note', // Optional heading to be shown on the toast
            icon: 'warning', // Type of toast icon
            showHideTransition: 'fade', // fade, slide or plain
            allowToastClose: true, // Boolean value true or false
            hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
            stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
            position: 'top-center', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
            
            
            
            textAlign: 'center',  // Text alignment i.e. left, right or center
            loader: true,  // Whether to show loader or not. True by default
            loaderBg: '#9EC600',  // Background color of the toast loader
            beforeShow: function () {}, // will be triggered before the toast is shown
            afterShown: function () {}, // will be triggered after the toat has been shown
            beforeHide: function () {}, // will be triggered before the toast gets hidden
            afterHidden: function () {}  // will be triggered after the toast has been hidden
        });
          {% endfor %}
      });
  </script>
{% endif %}

<style>
    #parent {
        text-align: center;
    }

    form {
        display: inline-block;
        text-align: left;
        border: 2px solid black;
        padding: 20px;
        background-color: lightgrey;
        border-radius: 10px;
        
    }
</style>
<br><br><br><br><br><br><br>
<div id="parent">
    <h2>Doctor Information</h2>
    <br><br>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit" class="btn btn-primary" style="background-color: #5c3bdf; border-color: #5c3bdf;">Submit</button>
    </form>
</div>

{% endblock %}
