{% extends "patient/base.html" %}
{% block content %}

<style>
  .btn-primary {
    background-color: #5c3bdf;
    border-color: #5c3bdf;
  }

  .btn-primary {
    color: white; /* You may adjust the text color as needed for readability */
  }
</style>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dummy Title</h5>
        <p class="card-text">Dummy Content</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dummy Title</h5>
        <p class="card-text">Dummy Content</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dummy Title</h5>
        <p class="card-text">Dummy Content</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dummy Title</h5>
        <p class="card-text">Dummy Content</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
