{% extends "patient/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link href="{% static 'css/jquery.toast.css' %}" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% if error_msg%}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'javascript/jquery.toast.js' %}"></script>
  <script>
    alert({{error_msg}})
      toastr.error('{{error_msg}}', '{{title}}');
  </script>
{% endif %}



<br><br><br><br><br>
<br><br>

<div class="container" style="text-align:center">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr style="text-align:center">
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>

                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for x in information %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.address }}</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-danger edit-button preview" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg></a>
                </td>
                <td>
                    <a href="delete/{{ x.id }}" class="btn btn-danger" id="deleteBtn{{ x.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                      </svg></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal for updating patient information -->
<div class="modal fade" id="updatePatientModal" tabindex="-1" role="dialog" aria-labelledby="updatePatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePatientModalLabel">Update Hospital Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updatePatientForm">
                    {% csrf_token %}
    
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" value="">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" value="">
                    </div>
                
                
                    <input type="hidden" id="patientId" name="patientId" value="">
                    
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<!-- Include DataTables JavaScript library -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- Include DataTables Bootstrap JavaScript library -->
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script> 

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        var dataTable = $('#example').DataTable();

    

        // Handle form submission for updating patient information
        $('#updatePatientForm').on('submit', function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var patientId = $('#patientId').val();
            $.ajax({
                type: 'POST',
                url: 'update/' + patientId,
                data: formData,
                success: function () {
                    location.reload();
                }
            });
        });
    });
    $(".preview").click(function () {

        var $modal = $("#updatePatientModal");
        let currentRow=$(this).parents('tr');
        var col1=currentRow.find("td:eq(1)").text();
        var col0=currentRow.find("td:eq(0)").text();

        var col2=currentRow.find("td:eq(2)").text();
        var col3=currentRow.find("td:eq(3)").text();
        
        
        document.getElementById('name').value = col1
        document.getElementById('patientId').value = col0
        document.getElementById('address').value = col2


        
        $modal.modal("show");

          
    });
</script>
{% endblock %}
